<a href="https://colab.research.google.com/github/zenvius/python_notes/blob/main/zenvius_DA_Class_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Module 1

In [ ]:
#what is python?
#Python is a most emerging, genral purpose, High-level, Dynamically typed , OOP’s, and interpreted programming language
"""a. Most emerging , General purpose  programming language
b. High level programming language
c. Dynamically typed programming language
d. Object oriented programming language---> OOP’s
e. interpreted programming language"""

**print "Hello world"**

In [ ]:
#print " hello world" by using the python
# By USING "print()"--> is  an inbuilt function used to display your output
print("Hello world!")
#print "Hello universe!"
#type()--> is an inbuilt function used to print your data type
print(type('hello world!'))

Hello world!
<class 'str'>

In [ ]:
#Numerical Data types
#Arthmetic operators
#round()
#varaibles

**07-01-2025**

In [ ]:
a = 10
b = 5
a = 30
b = 50
print(a+b)
"""Note:- Interpreted programming language means python can execute the code
line by line and latest value can be taken in to consideration"""

80

**Numerical Data Types**

In [ ]:
#How many types of Numerical Data Types do we have in Python?
#there are 3 types
#1. Integer:- its a whole number either +ve or -ve without decimal point is known as Integer--> int
print(10)
print(-5)
#find the data type for above integers
# use  "type()" to find the dtypes
print(type(10))
print(type(-5))

In [ ]:
#2.float:- its a whole number either +ve or -ve with decimal point is known as float---> float
print(10.5)
print(5.25)
#find the dtype
print(type(5.25))

10.5
5.25
<class 'float'>

In [ ]:
#what is the data type of 0?
print(type(-0.0))
print(type(2.))

<class 'float'>
<class 'float'>

In [ ]:
#3.Complex Number:- A real number with its imaginary part is known as complex number--> complex
#Note:- The imaginary part must have letter 'j'-->which is known as 'iota'
#SO the value of 'Iota' is  'root -1'
print(2+5j)
print(3+6j)
#find the data type
print(type(2+5j))

(2+5j)
(3+6j)
<class 'complex'>

#Arthametic operators

In [ ]:
#How many types of arthametic operators do we have in python?
#there are 7 types
#1. Addition--> +
print(10 + 5)
#2. substraction---> -
print(10 - 5)
#3. Multiplication ---> *
print(10 * 5)
#4. division ----> /--> finding the co-efficient
print(10 / 5)
print(type(10/5))
#why the default data type for division is float?
"""in most of the divivison operations we get float numbers in co-efficient
so, to get proper co-effiecient the founder of the python make the data type as folat by default"""

In [ ]:
#5. Modulus--> is defined as remainder of the division---> %
#modulus ia mostly used to find the odd and even numbers and prime numbers...etc
print(10 % 2)
print(5 % 2)

In [ ]:
#6.exponential--> ** --> to the power off
print(2**3)
print(type(2**3))
#square root
print(25**0.5)
print(2**0.5)

In [ ]:
#7.floor division---> //--> it ignores the values after the decimal point
print(10/3)
print(10//3)  #so it ignores the values after decimal point in the co-efficient
print(53.67 // 2)
print(53.67 / 2)

3.3333333333333335
3
26.0
26.835

#round()

In [ ]:
#what is 'floor' value and  'ceil' value?
#floor value is the value before the decimal point
#the next upcoming value for a decimal number is known as ceil value
#Note:- Round function is used to print the next upcoming value, only for decimal numbers
#where we need to use the round()?
#we inside the print()
print(round(6))
print(round(9))

6
9

In [ ]:
#The round() is applicable for decimal numbers to print specific n-digits.
#Note:- if the decimal number is greater than or equal to 0.5 then it prints the upcoimng value
print(round(5.5))
print(round(5.45678))

6
5

In [ ]:
#print first 2 ndigits from the given numbers
#suntax:- round(number,count_ndigits)
print(round(12.526473,3))
print(round(1234.98352,3))

12.526
1234.984

In [ ]:
#when we give -ve ndigit the values after the decimal point values becomes '0' and -1 meand in reverse direction it is count the floor value
print(round(1234.98352,-4))
print(round(12454.9876,-2))
print(round(15367.765,-2))

0.0
12500.0
15400.0

In [ ]:
#WHAT IS A PYTHON?
#print()
#type()
#numerical data types--> int,float,complex number
#arthametic operators--> 7 types
#round()--> applicable for decimal numbers
#floor value ---> the value before the decimal point
#ceil value---> the next upcoimng value when you use the round()
5.246
print(round(5.246,2))

5.25

**08-01-2025**

#Varaibles

In [ ]:
print(10 + 5)
print(10 - 5)
print(10 * 5)

15
5
50

In [ ]:
#what is varaibles?
#Varibles are nothing but containers where we can store our valuable information or data, and reuse it
#How can we create an varaible?
"""let say father age is 40
son age is half of the father age
then find the son age"""
""" let say father age is X
son age is half of the father age
then find the son age X/2 """

In [ ]:
x = 40
son_age = x//2
#How can we access a varaible?
print(son_age)

20

**Types of errors in programming language**

In [ ]:
#How many types of errors do we have in python?
#there are only 2 types of errors
#1.syntax error
#2.Logical error
#what is a syntax error?
#breaking the rules of programming language can rise an syntax error.
"""let say father age is 40
son age is half of the father age
then find the son age'''

In [ ]:
#write a small code to rise an syntax error?
print(5.3

In [ ]:
#what is the logical error?
#2.Logical error:- except syntax error all the errors comes under the logical error
#ex:- 'indentation error', attribute error, name error...etc

**rules to create the varaibles**

In [ ]:
#1.start create the varaible by using the alphabets
a = 40
print(a)
num = 50
print(num)

40
50

In [ ]:
#2.Don't start creating the varaible by using the Numbers
2 = "hello world"
print(2)

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (<ipython-input-11-e76028cf1434>, line 2)

In [ ]:
#3.if you follow rlue 1 & 2 start creating varaibles with alphabets inbetween use the the numbers
sahkjahfk32jdhsj = "hello world"
print(sahkjahfk32jdhsj)

hello world

In [ ]:
#4.Don't use speacial characters in the varaibles---> !,@,#,$,%,^,&,*,-
son@age = 20
print(son@age)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (<ipython-input-13-4001ef31b3bb>, line 2)

In [ ]:
#5.don't use the 'white space' in between the varaibles
son age = 20
print(son age)

SyntaxError: invalid syntax (<ipython-input-14-ce4e296b050f>, line 2)

In [ ]:
#6. use the '_' as a varaible instead of spaces
_ = "hello"
print(_)
son_age = 20
print(son_age)

hello
20

In [ ]:
#Don't use the upper case letters as avaraible name
SON_AGE = 20
son_age = 20

**Python is a Dynamically typed programming alanguage**

In [ ]:
#we no need to define the data types for the varaibles
a = 10
print(type(a))
b = 10.5
print(type(10.5))
c = "hello world"
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

**Python is a case sensitive programming language**

In [ ]:
x = 10
print(X)

NameError: name 'X' is not defined

**Python is an interpreted programming language**

In [ ]:
#it executes the code line by line or step by step
a = 10
b = 20
a = 5
b = 35
print(a+b)

40

**smart ways of wriring the varaibles**

In [ ]:
#1.assign multiple values to multiple varaibles and print it in a separate line?
#Hint:- take any 3 varaibles and assign 3 values
a = 10
b = 3
c = 6
print(a)
print(b)
print(c)

10
3
6

In [ ]:
a,b,c = 10,3,6
# print(a)
# print(b)
# print(c)
#to print the ouput in separate lines we use  a keword-->  "sep = \n"
print(a,b,c, sep='\n')

10
3
6

In [ ]:
#2.assign a same value to the multiple varaibles and print it in a separate line?
#hint:- take 3 varaibles and assign same value for it
a = 10
b = 10
c = 10
print(a,b,c,sep='\n')

10
10
10

In [ ]:
a,b,c = 10,10,10
print(a,b,c,sep='\n')

10
10
10

In [ ]:
a = b = c = 10
print(a,b,c,sep='\n')

10
10
10

#09-01-2025

**Keywords**

In [ ]:
#what is keywords?
#Keywords are inbuilt, reserved words
#7.we cannot use the 'keywords' as an varaible
import keyword
print(keyword.kwlist)
# and = "hello"
# print(and)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

**Input()**

In [ ]:
#what is input()?
#input() defined as, it takes any information or valuable data from user to store and reuse it.
#How can we create an input() ?
#how can we access information in input()?

In [ ]:
#take two varaibles and apply all the athametic operations?
a = 10
b = 5
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

In [ ]:
#How can we create an input() ?
#By using "input()" and assign it to a varaible
a = input("enter the Number: ")
b = input("enter the Number: ")
##how can we access information in input()?
#by using "print()"
print(a+b)
print(type(a+b))
#what is the default data type for a input()?
#it is "string"
#why the default data type for input() is a string?
#string is a collection of multiple characters, SO the data type which accepts all the information or any data from user is string
#so thats why the default data type for input() is a string

enter the Number: Hello
enter the Number: world
Helloworld
<class 'str'>

In [ ]:
#what is concatenation?
#Adding of two strings is known as concatenation
a = input("enter the Number: ")
b = input("enter the Number: ")
#how can we access information in input()?
#by using "print()"
print(a+" "+b)

enter the Number: Hello
enter the Number: World!
Hello World!

In [ ]:
#How can we deal with numerical data when user is having more numerical inputs?
#we need to define the input() with numerical data types
##take two inputs and apply all the athametic operations?
a = int(input("enetr the number1: "))
b = int(input("enter the number2: "))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)
print(a**b)
print(a//b)

In [ ]:
#Take two input() and apply the arthametic operations on it. Note:- take two float inputs

**Strings**

In [ ]:
#what is a string?
#String is a sequence of collection multiple characters where each character can be accessible
#How can we access the charcter from the string?
#By using the "indexes" and slicing operator
#what is index?
#indexes is nothing but sequential position number of each charcter in the string
#indexes can be starts from zero "0"
#what is slicing?
#accessing a range of characters from the mainstring is known slicing,
#and the range of charcters from mainstring is known as substring
#slicing can be done by using slicing operator---> []

In [ ]:
a = "Hello world!"
#i want to access the letter "e" from above string
#syntax:- string_name[start_index]
print(a[1])
print(a[6])

In [ ]:
a = "Hello world!"
#i want to access a range of characters from the string? "ello"
#syntax:-  string_name[start_index:end_index]    -->end index--> is n+1 bcz slicing stops before one index position number
print(a[1:5])
#print a range of characters "world" from above string
print(a[6:11])

ello
world

In [ ]:
a = "Hello world!"
#print the even index position characters from the above string
#syntax:-  string_name[start_index:end_index:step_index]
print(a[0:12:2])
#print the odd index position characters from the above string
print(a[1:12:2])

Hlowrd
el ol!

In [ ]:
#print the last character from above string?
print(a[11])
#how can we find the length of a string?
#By using the "len()"
#length can be starts from 1
print(len(a))

!
12

In [ ]:
#find the length of below string?
d = "Hello Good Morning!"
print(len(d))
print(d[len(d)-1])

19
!

#Negative indexing

In [ ]:
#what is negative indexing?
#accessing the characters in reverse direction isknown as -ve indexing.
#-ve indexing starts from -1
d = "Hello Good Morning!"
#print the last character
print(d[-1])
#print the above string in reverse order
#Note:- By default the slicing can be done in left to right hand direction
print(d[-1:-20:-1])

!

-ve indexing

default indexing

string methods

string format methods

escape characters

#10-01-2025

**Negative indexing**

In [ ]:
#what is Negative indexing?
#accessing the characters of a string in reverse direction is known as -ve indexing.
#-ve  indexing starts from -1
a = "Hello world!"
#syntax:- string_name[start]
#i want to print a last characters from the string
print(a[-1])
#if i want to print a range of characters in reverese direction     "!dlrow"
##syntax:- string_name[start:end:step]
print(a[-1:-7:-1])
#if the -ve slicing is from higher to lower value means by default left to right direction then we acn access the string in right order
print(a[-6:-1])
#Note:- the default slicing direction is from left to right direction.

!
!dlrow
world

In [ ]:
print(a[0:-7])

Hello

**Default indexing**

In [ ]:
#what is default indexing?
#by default the 'start position' can be '0' zero and 'end position' can be 'len(string)' and step position can be '1'
a = "Hello world!"
#[default_satrt[0]:default_end[len(str):default_step(1)]]
print(a[:])
print(a[::])
#print the even characters from above string
print(a[0:12:2])
print(a[::2])
#print the odd characters by using the default indexing.
print(a[1::2])
print(a[1:12:2])

Hello world!
Hello world!
Hlowrd
Hlowrd
el ol!
el ol!

In [ ]:
#reverse a string and tell weater it is palindrome or not?
a = input("enter your string: ")
print(a[::-1])

enter your string: malayalam
malayalam

**String Methods**

In [ ]:
#what is string methods?
#The methods that we can apply on particular string is known as "string methods"
#what are all string methods we can apply on a paritcular string?
# by using "dir()" it returns the methods that can be applicable for particular string
a = "hello world!"
print(dir(a))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [ ]:
"""'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format',
'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric',
'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition',
'removeprefix', 'removesuffix', 'replace','rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip',
'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill' """

In [ ]:
#1.capitalize()--> converts the 1st letter in to capital letter
print(a.capitalize())

Hello world!

In [ ]:
#2.upper()--> coverts string in to uppercase letters
print(a.upper())

HELLO WORLD!

In [ ]:
#3.lower()--> converts the string in to lowercase letters
print(a.lower())

hello world!

In [ ]:
#4.strip()-->removes the unwanted white spaces of a string
a = "    hello world!       "
print(a.strip())

hello world!

In [ ]:
#5.lstrip():- removes the unwated spaces from left side
a = "    hello world!       "
print(a.lstrip())

hello world!

In [ ]:
#6.rstrip():- removes the unwanted spaces from right side
a = "    hello world!       "
print(a.rstrip())

    hello world!

In [ ]:
#7.replace:- replace old string with new string-->*******
a = "Hello world!"
#in above string replace world! with universe
print(a.replace('world','Universe'))

Hello Universe!

In [ ]:
#can we use slicing method to replace particular items in astring
a[6:] = 'Universe'  #'str' object does not support item assignment
#so we cannot use the slicing operation to replace the characters in the string

In [ ]:
#7.find() -->method returns the index position of particular ccharcter if the character is not present means it return -1
a = "Hello world!"
print(a.find('r'))
#str.find(value,end,start)

b = "Hello,Welcome to my world"
x = b.find("e",5,10)
print(x)

8
7

In [ ]:
#8.title()--> it convert the 1st letter in to capital letter after every white space
a = "hello world!"
print(a.title())

Hello World!

In [ ]:
#9.index()--> it is similar to find() it reurns "index position numbers"
print(a.index('r'))
print(a.index('e'))

8
1

In [ ]:
#10.swapcase()---> it coverts upper case in to lower and lower case in to upper case.
a = "HeLLo WoRoLD!"
print(a.swapcase())

hEllO wOrOld!

**string format method**

In [ ]:
age = 10
txt = "i am ___ years old"
print("i am 10 years old")
#f'string methods':- it takes an argument and place it over the place holder {}

In [ ]:
age  = 10
txt = f"i am {age} years old"
print(txt)

i am 10 years old

In [ ]:
name = input("enter your name: ")
txt = f"welcome {name}, to HFC Bank"
print(txt)

enter your name: xyz
welcome xyz, to HFC Bank

**escape chracters**

In [ ]:
a = "Hello "good morning"  !"
print(a)

SyntaxError: invalid syntax (<ipython-input-42-e292e4c24a13>, line 1)

In [ ]:
#what is escape characters?
#if you want to print illeagal characters in the string use escape characters---> \(back ward slash) infornt of illegal characters
a = "Dwayne \"The Rock\" Jhonson"
print(a)

Dwayne "The Rock" Jhonson

#**11-01-2025**

**Data Type conversion**

In [ ]:
a = "12345"
#convert the above data in to int
print(type(a))
b = int(a)
print(type(b))
#can we convert a number in string format  to --> int data type--> yes

<class 'str'>
<class 'int'>

In [ ]:
b = '9.3763654'
print(type(b))
#convert the above string data in to float
c = float(b)
print(type(c))

<class 'str'>
<class 'float'>

In [ ]:
#can we convert a float in to integer-->yes we can convert
a = 34.5767
d = int(a)
print(d)

34

In [ ]:
#can we convert an int to float
a = 4
b = float(a)
print(b)

4.0

In [ ]:
#can we convert a float into an string--->yes
a = 12.567
d = str(a)
print(type(d))

<class 'str'>

In [ ]:
#can we convert a int into an string--->yes
a = 10
c = str(a)
print(type(c))

<class 'str'>

In [ ]:
#string format
#your has been confirmed for product name with an quitty
item_name = input("enter product name: ")
quantity = int(input("enter Number of items: "))
price_each = float(input("enter price of each item:"))
Notification = (f"your order for {item_name} has been confirmed with an quantity of {quantity} and Total price of {price_each*quantity}/-")
print(Notification)

enter product name: mobile A
enter Number of items: 10
enter price of each item:9999.0
your order for mobile A has been confirmed with an quantity of 10 and Total price of 99990.0/-

#17-01-2025

In [ ]:
#what is escape characters?
#why the default data type for input() is string?
#the only data type which can collect all the information from the user is string.
#we can start creating the varaible by using number-->T/F--->ans false
#is python is a case sensitive program language-----> T/F--->Ans True
#  Hello Team "Good Day!". Today we are having session about "Conditional statements"--> print it with illegal characters

**Conditional statements**

In [ ]:
#define conditional statements or what is conditional statement?
#To check weather the condition is false or true (or) to write any decision making codes in python we use conditional statements
#How can you write a decision making program or) how can you check a condition?
#we are using "comparision operators" or "relational operators"
#There are 6 comparision operators
""" 1. equals too--->  ==
    2. Not equals too --->  !=
    3. greater than -----> >
    4. less than ---> <
    5. greater than or euqal too ---> >=
    6. less than or equal too ---->    <=  """

In [ ]:
#what are all conditional statements do we have in python?
#1.if
#2.elif
#3.else

In [ ]:
#write a program to check weather the student is pass or faill
#if the student is pass---> print(congratulations)  along with with marks
#if the student is fail----> print("Better luck next time") along with marks
Total_marks = 100
passing_marks = 45
student_marks = int(input("enter your marks: "))
if student_marks >= passing_marks:
  print("congratulattion")
  print(f"You have recived {student_marks} marks out of {Total_marks}")
else:
  print("Better luck next time")
  print(f"You have recived {student_marks} marks out of {Total_marks}")
#Note:- when we are having exact 2 condition we need to use "if" and "else"

enter your marks: 44
Better luck next time
You have recived 44 marks out of 100

In [ ]:
#Note:- If we are having more than 2 conditions then we need use "elif"
#what is procedural step for elif? or where we can write elif?
#elif can be written in between if and else
#if--->elif--->else
#write a program to check weather the given number is positive or negative, if number is zero means print it is neutral.
num = int(input('enter your number: '))
if num > 0:
  print(f'Number {num} is positive')
elif num == 0:
  print(f'Number {num} is neutral')
else:
    print(f'Number {num} is Negative')
#Note:- when we use input function with defining int give only int number otherwise it rises an error

enter your number: 80
Number 80 is positive

In [ ]:
#write a program to check age of user and give ride suggetion based on age of the user in a adventure park
#if the user is having the age more the 14 the they are eligible all the rides
#less than 14 is not elible for all the ride and print go for 'safe rides'
#if the age is more than 60 then no user is not elible for rides
age = int(input('enter age: '))
if age > 14 and age <= 60:
  print('eligibl for all the rides')
elif age > 60:
  print('not elible for rides')
else:
  print('go for safe under rated rides')

enter age: 30
eligibl for all the rides

**logical operators**

In [ ]:
#There are 3 logical operators
#1.and:- it executes the program when all the condition are true
#2.or:_- it executes the program if any one condition is true
#3.not:- it reverse your actual output

In [ ]:
print('a' == 'a')
print(2 <= 10)
print(3 <= 10)
print(9 <= 10)
print(10 <= 10)
print(11 <= 10)

True
True
True
True
True
False